version: "3"

services:
  npm-cloudflare-sync:
    build: ./npm-cloudflare-sync
    image: rvbcrs/npm-cloudflare-sync:latest
    container_name: npm-cloudflare-sync
    environment:
      - CF_API_TOKEN=${CF_API_TOKEN}
      - CF_EMAIL=${CF_EMAIL}
      - NPM_API_URL=${NPM_API_URL}
      - NPM_EMAIL=${NPM_EMAIL}
      - NPM_PASSWORD=${NPM_PASSWORD}
      - CHECK_INTERVAL=${CHECK_INTERVAL}
      - LOG_LEVEL=${LOG_LEVEL}
      - AUTO_CREATE_ROOT_RECORDS=${AUTO_CREATE_ROOT_RECORDS}
    restart: unless-stopped
